*{
    padding: 0;
    margin: 0;
}
body{
    background: #00bf8f;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #001510, #00bf8f);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #001510, #00bf8f); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
color: white;
display:flex;
justify-content: center;
align-items: center;
height: 100vh;
}
.maindiv{
    width: 20rem;
    display: flex;
    flex-direction: column;
    background-color: rgba(0, 0, 0, 0.301);
    padding: 1rem;
    border-radius: 20px;
    box-shadow: 20px 20px 50px 15px rgba(255, 255, 255, 0.514);

}
.middlecard{
    display: flex;
    padding: 1rem;
    align-items: center;
    

}

p{
    margin-left: 2rem;
    font-size: 22px;
}
.icon{
    font-size: 20px;

}
.lowerdiv{
display: flex;
justify-content: space-evenly;
margin-top: 1rem;
}
img{
    width: 100%;
    border-radius: 20px;

}
h1{
    text-align: center;
}